In [23]:
import pandas as pd

In [22]:
coffee = pd.read_csv("./warmup-data/coffee.csv")
results = pd.read_parquet("./data/results.parquet")
bios = pd.read_csv("./data/bios.csv")

In [25]:
coffee.sample(10)

          Day Coffee Type  Units Sold
1      Monday       Latte          15
4   Wednesday    Espresso          35
7    Thursday       Latte          30
12     Sunday    Espresso          45
13     Sunday       Latte          35
11   Saturday       Latte          35
10   Saturday    Espresso          45
3     Tuesday       Latte          20
2     Tuesday    Espresso          30
5   Wednesday       Latte          25

In [30]:
coffee.loc[0:5, "Coffee Type"]

0    Espresso
1       Latte
2    Espresso
3       Latte
4    Espresso
5       Latte
Name: Coffee Type, dtype: object